<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>newsManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerService</display-name>
    <servlet-name>registerService</servlet-name>
    <servlet-class>com.seven.service.register.registerService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerService</servlet-name>
    <url-pattern>/registerService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginService</display-name>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.seven.service.login.loginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/loginService</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>addThemeServlet</display-name>
    <servlet-name>addThemeServlet</servlet-name>
    <servlet-class>com.seven.service.theme.addThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addThemeServlet</servlet-name>
    <url-pattern>/addThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listThemeServlet</display-name>
    <servlet-name>listThemeServlet</servlet-name>
    <servlet-class>com.seven.service.theme.listThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listThemeServlet</servlet-name>
    <url-pattern>/listThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteThemeServlet</display-name>
    <servlet-name>deleteThemeServlet</servlet-name>
    <servlet-class>com.seven.service.theme.deleteThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteThemeServlet</servlet-name>
    <url-pattern>/deleteThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateThemeServlet</display-name>
    <servlet-name>updateThemeServlet</servlet-name>
    <servlet-class>com.seven.service.theme.updateThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateThemeServlet</servlet-name>
    <url-pattern>/updateThemeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>checkService</display-name>
    <servlet-name>checkService</servlet-name>
    <servlet-class>com.seven.service.register.checkService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkService</servlet-name>
    <url-pattern>/checkService</url-pattern>
  </servlet-mapping>
  <!---->
  <servlet>
    <description></description>
    <display-name>getNewsCountServlet</display-name>
    <servlet-name>getNewsCountServlet</servlet-name>
    <servlet-class>com.seven.service.news.getNewsCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getNewsCountServlet</servlet-name>
    <url-pattern>/getNewsCount</url-pattern>
  </servlet-mapping>
  
</web-app>
